<div class="a-u-1">
  <h1>Люксовая косметика и парфюмерия</h1>
  <p>Он основан двумя сестрами в 2008 году, которые так же сильно любят свой продукт как и своих клиентов. Мы продаём косметику и парфюмерию среднего и люксового сегмента. Вас ждёт уникальный ассортимент товара, мировые бренды и высшее качество продукции.</p>
  <p>Благодаря нашему интернет-магазину Вы получите возможность познакомиться с очень популярными мировыми косметическими брендами, которые с большим опозданием доходят до украинского рынка.</p>
  <p>В Киеве у нас есть два действующих магазина, поэтому у Вас всегда есть возможность к нам заглянуть и лично оценитьпредставленный товар, а профессиональные менеджеры помогут подобрать наиболее подходящее средство специально для Вас.</p>
</div>
<div class="a-u-2">
  <div class="a-u-2__img-wr">
    <img src="http://test2.businessup.com.ua/image/catalog/img-649461.png" alt="Grass">
  </div>
  <div class="a-u-2__img-cnt">
    <h3>Эксклюзивный ассортимент</h3>
    <p>Ассортимент магазина подобран специально для успешных и активных девушек, которые заботятся о себе, хотят каждый день шикарно выглядеть и быть в тренде.</p>
    <p>У нас Вы найдете и сможете купить средства от проверенных годами оригинальных брендов, среди которых The Ordinary, Becca, Bravura, Beauty Blender, Chi, Morrocanoil, Benefit, Anastasia Beverly Hills, Becca, Beauty Blender, Alexander McQueen и др.</p>
    <span>В каталоге</span>
    <ul>
      <li>Женская декоративная косметика для макияжа глаз, лица, губ, бровей.</li>
      <li>Уходовые средства для красоты и здоровья волос.</li>
      <li>Натуральная косметика по уходу за лицом и телом.</li>
      <li>Средства для демакияжа и аксессуары (кисточки, расчески)</li>
      <li>Товары и косметика для мужчин.</li>
    </ul>
    <p>Мы сотрудничаем с официальными поставщиками косметики и парфюмерии разных стран: <strong>США,</strong> <strong>Англии,</strong> <strong>Канады,</strong> <strong>Италии,</strong> <strong>Испании,</strong> <strong>Германии,</strong> <strong>Кореи,</strong> <strong>Франции,</strong> <strong>Израиля,</strong> <strong>Белоруссии,</strong> <strong>Украины.</strong></p>
  </div>
</div>
<div class="a-u-3">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="540" src="https://www.youtube.com/embed/XCqRi6TYCas?rel=0&amp;controls=0&amp;showinfo=0" width="100%"></iframe>
</div>
<div class="a-u-4">
  <h3>Линия времени</h3>
  <div class="t-l">
    <div class="t-l-t">
      <div class="t-l__item">
        <p>2008</p>
        <span>Мы открылись в Киеве</span>
      </div>
      <div class="t-l__item">
        <p>2010</p>
        <span>Мы открылись в Киеве</span>
      </div>
      <div class="t-l__item">
        <p>2016</p>
        <span>Мы открылись в Киеве</span>
      </div>
    </div>
    <div class="t-l-b">
      <div class="t-l__item">
        <p>2009</p>
        <span>Мы открылись в Киеве</span>
      </div>
      <div class="t-l__item">
        <p>2013</p>
        <span>Мы открылись в Киеве</span>
      </div>
      <div class="t-l__item">
        <p>2018</p>
        <span>Мы открылись в Киеве</span>
      </div>
    </div>
  </div>
</div>

<div class="a-u-6">
  <h3>О нашей работе</h3>
  <div class="a-w">
    <div class="a-w__item">
      <img src="http://test2.businessup.com.ua/image/catalog/inf_7.png" alt="Discounts">
      <p>Доступные цены,
        удобные способы
        оплаты, регулярные
        акции и скидки.</p>
    </div>
    <div class="a-w__item">
      <img src="http://test2.businessup.com.ua/image/catalog/inf_7.png" alt="Check">
      <p>Гарантия подлинности
          и высокого качества.</p>
    </div>
    <div class="a-w__item">
      <img src="http://test2.businessup.com.ua/image/catalog/inf_7.png" alt="Stamp">
      <p>Идеальное знание
          преимуществ
          и особенностей
          каждого товара.</p>
    </div>
    <div class="a-w__item">
      <img src="http://test2.businessup.com.ua/image/catalog/inf_7.png" alt="Consult">
      <p>Профессиональная
          консультация по
          любым вопросам
          и помощь в покупке.</p>
    </div>
    <div class="a-w__item">
      <img src="http://test2.businessup.com.ua/image/catalog/inf_7.png" alt="Delivery">
      <p>Красивая упаковка
          и быстрая доставка
          по Украине, России,
          Белоруссии.</p>
    </div>
  </div>
</div>
<div class="a-u-7">
  <div class="conf">
    <div class="conf-b">
      <h3>Почему нам доверяют?</h3>
      <p>Нас рекомендуют известные блогеры, а постоянные клиенты доверяют уже много лет.
          Все потому что мы заботимся о каждом покупателе и предлагаем великолепные средства.</p>
    </div>
    <div class="conf-b">
      <img src="http://test2.businessup.com.ua/image/catalog/img-245236.png" alt="Lotus">
    </div>
  </div>
</div>